{{ ansible_managed | comment }}
DATA_SOURCE_NAME="postgresql://{{ postgres_exporter_db_user }}:{{ postgres_exporter_db_password }}@{{ postgres_exporter_db_ip }}:{{ postgres_exporter_db_port }}/{{ postgres_exporter_db_name }}?sslmode=disable"